.Crew {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.crew {
  padding: 20px;
}

.paper {
  background-image: url("../textured-paper.png" );
  background-repeat: repeat-y;
  background-position: right top;
}