.tabs {
  justify-content: center;
}

.tabs a {
color: #1976d2;
}

.contact {
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-top: 1px dotted #222;
}

.contact a {
  margin: 6px;
  margin-bottom: 40px;
  color: #d25019;
}