body {
  background-image: url("clouds.jpg");
}

.App Button {
  margin: 6px;
}

.App-header {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d32f2f;
}

.App-link {
  color: #61dafb;
}

h4 {
  color: #939393;
  margin-top: auto;
}

.resources {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #222;
  border-top: 1px dotted #222;
  padding-top: 20px;
}

.resources a {
  color: #1976d2;
}